.blog {

    .hero {
        height: 50vh;
        @include flex-center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0;

        .most-recent {
            color: white;
            text-transform: uppercase;
            margin: 0;
        }

        .entry-title {
            width: 85%;

            a {
                color: white;
                font-size: 2rem;
                text-decoration: none;
            }
        }

        .white-btn {
            margin-top: .5rem;
        }
    }

    .site-main {
        display: flex;
        flex-flow: row wrap;
        width: 100vw;
        margin: 0 auto;

        @include desktop {
            max-width: 1000px;
        }

        section.posts {
            margin-top: 1rem;
            margin-bottom: 3rem;
            padding: 0rem 3rem;
            text-align: center;

            @include desktop {
                width: 73%;
                border-right: 1px solid #f4f4f4;
                padding: 0rem 5rem;
            }

            article {
                padding-bottom: 4rem;
                border-bottom: 1px solid #f3f3f3;

                .entry-header {
                    padding-bottom: 2rem;
                    margin-top: 3rem;
                }

                div.entry-image {
                    max-width: 100%;
                }

                .entry-content {
                    margin-bottom: 2.5rem;
                }
            }

            .black-btn {
                color: $color__text-main;

                &:hover,
                &:focus,
                &:active {
                    color: #fff;
                }
            }
        }

        .sidebar {
            display: none;

            @include desktop {
                display: block;
                width: 27%;
                padding-top: 3rem;
                padding-left: 2rem;
            }

            .widget-title {
                text-align: center;
                margin: 1rem auto;
            }

            .wp-block-image {
                img {
                    margin: 1rem auto;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                }
            }

            .archive-title {
                text-align: center;
                color: $color__text-main;
            }

            .archive-dropdown {
                position: relative;
                display: inline-block;
                margin-bottom: 4rem;
                @include flex-center;

                &:hover {
                    .archive-content {
                        display: block;
                    }
                }

                .archive-btn {
                    background: transparent;
                    border: 1px solid $color__text-main;
                    padding: .5rem 3rem;
                    color: $color__text-main;
                    cursor: pointer;
                    font-size: 1rem;
                    width: 250px;

                    i {
                        font-size: 1rem;
                        float: right;
                        position: absolute;
                        right: 0;
                        padding-right: 1rem;
                    }

                }

                .archive-content {
                    display: none;
                    position: absolute;
                    color: $color__text-main;
                    z-index: 1;
                    min-width: 238px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    margin: 0;
                    margin-top: 2.2rem;
                    padding: 0;
                    list-style: none;

                    li>a {
                        color: $color__text-main;
                        text-align: center;
                        padding: .5rem 16px;
                        font-size: 1rem;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            background-color: $color__text-main;
                            color: $color__link;
                        }
                    }
                }
            }
        }
    }
}

.single-post {
    .site-content {
        @include margin-center;

        .entry-meta {
            text-align: center;
            margin: 3rem auto;
            margin-top: 4rem;

        }

        .entry-header {
            width: 100vw;
            height: 350px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;

            @include tablet {
                height: 400px;
            }

            @include desktop {
                max-width: 1000px;
                height: 500px;
            }
        }

        .entry-content {
            width: 80%;
            @include margin-center;
            margin-bottom: 5rem;

            @include desktop {
                max-width: 650px;
            }
        }
    }
}