/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: white;
    border: none;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-family: $font__code;
    @include font-size(.9);
    line-height: 1;
    padding: ($base__space-unit / 2) $base__space-unit;
    text-decoration: none;
    text-transform: uppercase;
}

.black-btn, #black-btn {
    @extend .btn;
    background-color: transparent;
    border: 2px solid black;
    color: #3a3a3a;
    margin-bottom: 3rem;
    margin-top: 3rem;

    &:hover,
    &:active,
    &:focus {
        background: #3a3a3a;
        color: white;
        border: 2px solid #3a3a3a;
    }
}

.white-btn {
    @extend .btn;
    background-color: transparent;
    border: 1px solid white;
    color: white !important;

    &:hover,
    &:active,
    &:focus {
        background: white;
        color: black !important;
        border: 1px solid #f1f1f1;
    }
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:focus {
        color: #111;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px;
}

textarea {
    padding-left: 3px;
    width: 100%;
}