/* Project Archie Page */

.post-type-archive-projects {
    .project-header {
        text-align: center;
        margin: 5rem 0;
        font-size: 1.5rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        @include margin-center;
        height: auto;
        grid-gap: 20px;
        margin-bottom: 5rem;

        @include tablet {
            width: 80%;
        }

        @include desktop {
            grid-template-columns: repeat(2,1fr);
            width: 80%;
            max-width: 1000px;
            grid-gap: 40px;
        }

        .project-grid-item {
            height:	300px;

            @include tablet {
                height: 400px;
            }

            .project-info {
                text-align: center;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include tablet {
                    height: 400px;
                }

                .project-title {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    margin: 0;
                    margin-top: -8rem;
                    border: 1px solid white;

                    @include tablet {
                        font-size: 2rem;
                    }

                    @include desktop {
                        font-size: 2.2rem;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background: white;

                        a {
                            color: $color__text-main;
                        }
                    }

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}