/* Project Archie Page */

.post-type-archive-projects {
    .project-header {
        text-align: center;
        margin: 6rem 0;
        font-size: 1.5rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        @include margin-center;
        height: auto;
        grid-gap: 20px;
        margin-bottom: 6rem;

        @include tablet {
            width: 80%;
        }

        @include desktop {
            grid-template-columns: repeat(2, 1fr);
            width: 80%;
            max-width: 1000px;
            grid-gap: 40px;
        }

        .project-grid-item {
            height: 300px;

            @include tablet {
                height: 400px;
            }

            .project-info {
                text-align: center;
                background: rgba(0, 0, 9, 0.5); ;
                height: 300px;
                @include flex-center;
                flex-direction: column;
                border: 1px solid $color__text-main;

                @include tablet {
                    height: 400px;
                }

                .project-title {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    color: white;

                    @include tablet {
                        font-size: 2rem;
                    }

                    @include desktop {
                        font-size: 2.2rem;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;

                    &:hover,
                    &:focus,
                    &:active {
                        border-left: 1px solid $color__link;
                        border-right: 1px solid $color__link;
                        padding: 0 1rem;
                        transition: all .3s ease;
                        color: $color__link;
                    }
                }
            }
        }
    }
}